# --------------------------------------
# Gitignore for DEB structures
# --------------------------------------

*~
Source/
lib/
docs/
*.deb
contents/DEBIAN/md5sums
contents/opt/textidote/textidote.jar
contents/etc/bash.completion.d/*
